<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313979620755-sif3cfv37nk7s4pk2l5q2oh8pcfiboog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313979620755-sif3cfv37nk7s4pk2l5q2oh8pcfiboog</string>
	<key>API_KEY</key>
	<string>AIzaSyDEr0xhWT2Dq5tdKob3L2JNQ0A-Y-1zRds</string>
	<key>GCM_SENDER_ID</key>
	<string>313979620755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.edu.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-59bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-59bc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:313979620755:ios:c00a0d0f69ee334973ec66</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-59bc6.firebaseio.com</string>
</dict>
</plist>
